.single {
  display: flex;
  font-size: 30px;
  width: 500px;
  height: auto;
}
.field {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  text-align: center;
}
.abc {
  width: 500px;
  transition: transform 0.4s ease;
}
